doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- link(rel="stylesheet", href="../less/main.less")
    link(rel="stylesheet", href="../scss/main.scss")
    script(src="../js/lib/jquery.min.js")
    script(src="../js/main.js")
    block title
      title 默认
  body
    block header
      include header.pug
  
    block main

    block footer
      include footer.pug