doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../scss/gel.scss")
    script(src="../js/lib/jquery.min.js")
    script(src="../js/main.js")
    title 圣杯/双飞翼布局/flex布局
  body
    //- .hd
    //- .bd 
    //-   .main main
    //-   .sub sub
    //-   .extra extra
    //- .ft
    //- .container1
    //-   .main1 main 
    //-   .left1 left
    //-   .right1 right
    //-   br

    //- .container2
    //-   .main2
    //-     .content2 main2
    //-   .left2 left2
    //-   .right2 right2
    //- .container 
    //-  .main main
    //-  .left left
    //-  .right right
          
