doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../scss/page2.scss")
    script(src="../js/lib/jquery.min.js")
    script(src="../js/fontSize.js")
    script(src="../js/page2.js")
    title 伪球迷世界杯demo
  body
    .main
        .top
          img(src='../img/banner.png').banner
          .banner-text
        .content
          .tag-model
            span.tag-items 铁血
            span.tag-items 浪漫
            span.tag-items 野性
            span.tag-items 讲究传统
            span.tag-items 灵魂桑巴
            span.tag-items 颜值高
            span.tag-items 大长腿
            span.tag-items 眼睛大
            span.tag-items 黑
            span.tag-items 长得帅
            span.tag-items 有我当前锋
            span.tag-items 发型酷
            .circle_1.pulse
              .icon
          .input-model
            .input-val
              input(type='text' placeholder='你来写...' maxlength='8').input-value
            .input-show
              span.befor-text 因为
              span.after-text 有我当前锋
        .bottom
          a.next(href='#') 下一步